body {
  background-color: #eee;
  text-align: center;
}

.sudoForm {
  background-color: #ddd;
  width: 70%;
  margin: auto;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

button {
  margin-top: 20px;
}

/* Doctors Section */
#doctors div.doctor {
  margin: 20px 0;
}

#doctors img {
  float: left;
  height: 100px;
  width: auto;
}

div.doctor h3 {
  font-size: 20px;
}

div.doctor .card-body {
  text-align: left;
}

iframe {
  display: none;
}

.locationDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}