body {
  background-color: #eee;
  text-align: center;
}

form {
  background-color: #ddd;
  width: 50%;
  margin: auto;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
}

form label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

form button {
  margin-top: 20px;
}